//colors
$btn-blue-color: #5093E2;
$btn-light-color: #FFFFFF;
$card-color :#1A1B21;
$card-footer-color:#161619;
$background-color:#23252C;
$content-dis-color:#F3BF99;



//Fonts
$body-font: Inter,
sans-serif;