@import 'vars';

* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: $body-font;

}

body {
    background-color: black;
    padding: 20px 10px;
}

.container {
    background-color: $background-color;
    width: 50%;
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;

}

p {
    font-size: 15spx;
}

.card-img {
    height: 200px;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.card-content {

    text-align: center;

    h4 {
        color: $content-dis-color;
    }

    * {
        padding: 5px;
    }

}

.btn-card {
    margin-top: 10px;
    display: flex;
    color: black;
    justify-content: center;

    Button {
        background-color: white;
        color: black;
        font-weight: bold;
        border: none;
        margin: 4px;
        border-radius: 5px;
        width: 100px;
        height: 40px;
        cursor: pointer;
    }
}


.card-content-about,
.card-content-Interests {
    padding: 10px;
}

footer {
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color: $card-footer-color;


}