@import 'vars';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $body-font;
}

.nav {
    padding: 20px;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    // height: 30px;

    .nav--logo {
        height: 100%;
    }
}

.hero {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 300px;
}

.main {
    margin: 20px;

    h1 {
        font-size: 34px;
    }

    p {
        padding-top: 10px;
        width: 400px;
        font-size: 20px;
    }
}

.cards {
    margin-top: 10px;
    display: flex;
}

.card {
    width: 200px;
    margin-right: 10px;
    padding: 10px;


    p {
        font-size: 13px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

}

.card--image img {
    width: 100%;
    height: 230px;
    border-radius: 10px;
    object-fit: cover;
}

.card--icon--img {
    width: 10%;
}

.card--description {
    display: flex;
    align-items: center;
    justify-items: center;

    p {
        padding-left: 10px;
        opacity: 0.8;
    }


}