$btn-primary-color :#4D5B9E;
$primary-color :#293264;
$check-answer-color :#D6DBF5;
$check-answer-disabled-color :#F8BCBC;
$right-answer-color :#94D7A2;
$btn-answer-border-color :#4D5B9E;





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}